:root { 
--gray_50_01:#f9f8f8; 
--pink_900:#9a0e31; 
--blue_A200:#3b82f6; 
--green_700:#27a243; 
--yellow_400:#fcea4e; 
--teal_300:#64c2a6; 
--light_green_600:#7ac142; 
--light_blue_A700:#007bff; 
--blue_gray_900_02:#2d2d3a; 
--gray_200_01:#eaeaea; 
--blue_gray_700:#475569; 
--blue_gray_900_01:#230f41; 
--purple_700:#86198f; 
--blue_gray_900:#132240; 
--blue_gray_900_87:#2f2f4387; 
--purple_500:#a126db; 
--gray_600:#6c757d; 
--blue_900:#0a4fa0; 
--blue_gray_100:#cbd5e1; 
--blue_700:#2d87bb; 
--blue_gray_300:#94a3b8; 
--amber_500:#facc15; 
--blue_gray_500:#64748b; 
--black_900_0f:#0000000f; 
--gray_200:#ececec; 
--yellow_400_01:#fbea4d; 
--gray_100_01:#f2f2f2; 
--green_600_01:#37c52a; 
--light_blue_700_28:#0284c728; 
--white_A700:#ffffff; 
--green_200:#a3df9f; 
--blue_A700:#2563eb; 
--blue_gray_100_01:#cecdcd; 
--blue_gray_900_14:#171f4614; 
--light_blue_600:#0ea5e9; 
--green_800:#216837; 
--green_600:#28a745; 
--gray_50:#f8fafc; 
--deep_purple_300:#9673b9; 
--light_blue_800:#007cc3; 
--pink_A200:#f54394; 
--black_900:#000000; 
--blue_A200_01:#5a8dee; 
--red_A400:#ff073a; 
--blue_gray_800:#474c57; 
--black_900_28:#00000028; 
--gray_900_02:#1f1f2f; 
--gray_900_03:#331427; 
--gray_900_04:#182829; 
--gray_900_05:#1c1c2b; 
--gray_500:#a8a8a8; 
--blue_gray_900_06:#222234; 
--blue_gray_900_05:#2f2f43; 
--blue_800:#0967d2; 
--indigo_50:#e2e8f0; 
--blue_gray_900_04:#252531; 
--gray_900:#161625; 
--gray_900_01:#1e1e30; 
--blue_gray_900_03:#252530; 
--orange_500:#ff9800; 
--gray_900_06:#212230; 
--gray_300:#e4e4e4; 
--gray_100:#f1f5f9; 
--blue_800_14:#0967d214; 
--cyan_400_28:#1cd4d428; 
}